<%- include('../partials/head') %>
<%- include('../partials/header') %>
<%- include('../partials/navigation') %>

<% if (title) { %>
<h1><%= title %></h1>
<% } else {
  res.redirect('/')
} %>

<%# messages() %>


<%- grid %>

<%- include('../partials/footer') %>
