<%- include('../partials/head') %>
<%- include('../partials/header') %>
<%- include('../partials/navigation') %>
<h1><%= title %></h1>

<section class="detail-container">
  <%- detailHTML %>

  

</section>

<%- include('../partials/footer') %>